---
import HeaderRight, { NavigationName, type Navigation } from "./HeaderRight";
import CascadeFundLogo from "./Logo.astro";

interface Props {
  activeLink?: NavigationName;
  hideLinks?: NavigationName[];
  replacement?: Navigation;
  additional?: React.ReactNode[];
  cascadeLogoSubtitle?: any; // header left
  landingPageTopMenu?: boolean; // header right
}

const {
  additional,
  cascadeLogoSubtitle,
  activeLink,
  landingPageTopMenu = false,
  hideLinks,
  replacement,
} = Astro.props;
---

<header class="bg-white shadow-sm border-b border-gray-200 px-6 py-4">
  <div class="flex items-center justify-between px-8">
    <CascadeFundLogo subtitle={cascadeLogoSubtitle} />
    <HeaderRight
      landingPageMenu={landingPageTopMenu}
      active={activeLink}
      hideLinks={hideLinks}
      replacement={replacement}
      additional={additional}
    />
  </div>
</header>
