---
import InfoPanel, { type InfoPanelProps } from "@/components/panel/InfoPanel";
import HorizontalRow from "@/components/grid/RowGrid";
import Section from "./BaseSection.astro";
import type { SectionBgProps } from "@/types/eventTypes";

interface Props {
  prefix: string;
  title: string;
  img: {
    src: string;
    alt?: string;
  };
  subtitle?: any;
  panels?: InfoPanelProps[];
  cols?: number;
  bg?: SectionBgProps;
}

let { title, img, panels, prefix, cols, subtitle, bg } = Astro.props;
if (cols === undefined) {
  cols = 1;
}
---

<Section bg={bg} title={title} subtitle={subtitle}>
  <div class="grid md:grid-cols-2 gap-8 items-center">
    <div class="order-2 md:order-1">
      <img
        src={img.src}
        alt={img.alt}
        class="w-full h-auto rounded-lg"
        referrerpolicy="no-referrer"
      />
    </div>
    <div class="order-1 md:order-2">
      <slot />
      <HorizontalRow cols={cols} className="order-1 md:order-2 space-y-6">
        {
          panels &&
            panels.map((panel, index) => (
              <InfoPanel
                key={prefix + index}
                icon={panel.icon}
                title={panel.title}
              >
                {panel.children}
              </InfoPanel>
            ))
        }
      </HorizontalRow>
    </div>
  </div>
</Section>
